<div class="ball-div-1">
    <img src="/assets/img/Ellipse-9.png">
</div>
<div class="ball-div-2">
    <img src="/assets/img/Ellipse-9.png">
</div>
<div class="about-me">
    <h2>
        Let's work <br>
        together
    </h2>
    <div class="about-me-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus soluta perspiciatis
            neque consequatur vel voluptate quae ullam? Rem voluptatem commodi sequi voluptates doloremque!
            Sapiente soluta molestias ea totam non voluptatibus.
        </p>
        <div class="width-inherit">
            <button (click)="scrollToContactMe()" class="btn">
                <span>
                    Send a messages
                </span>
            </button>
        </div>
    </div>
</div>