<div class="project-content">
    <div class="project-detail">
        <h2>
            Pokédex
        </h2>
        <p class="tools">
            JavaScript | HTML | CSS | Api
        </p>
        <p class="description">
            Based on the PokéAPI a simple library that provides and catalogues pokemon information.
        </p>
        <div class="all-buttons">
            <button class="btn-live-test">
                <span>
                    Live Test
                </span>
            </button>
            <button class="btn">
                <span>
                    Github
                </span>
            </button>
        </div>
    </div>
    <picture>
        <img src="/assets/img/projects/pokedex.png">
    </picture>
</div>