.ball-1 {
    position: absolute;
    top: 67%;
    left: 14%;
    width: 204px;
    height: 204px;
    z-index: -1;

    @media (max-width: 1300px) {
        top: 50%;
    }

    @media (max-width: 500px) {
        top: 60%;
        left: 33%;
        width: 101.57px;
        height: 101.57px;
    }
}

.ball-2 {
    position: absolute;
    bottom: -18%;
    right: -2%;
    width: 73px;
    height: 73px;

    @media (max-width: 1300px) {
        bottom: -14%;
    }

    @media (max-width: 500px) {
        bottom: -8%;
        width: 42px;
        height: 41px;
    }
}