<div class="footer-background">
    <div class="footer">
        <a (click)="scrollToHeader()">
            <picture>
                <img class="logo" src="/assets/img/logo.png">
            </picture>
        </a>
        <div class="footer-impressum">
            <p>
                © Thomas Ketler 2023
            </p>
            <nav class="imprint-link">
                <a routerLink="imprint">
                    <span>
                        Imprint
                    </span>
                </a>
            </nav>
        </div>
        <div class="footer-icons">
            <picture>
                <img src="/assets/img/icons/footer-icons/footer-git-icon.png">
            </picture>
            <picture>
                <img src="/assets/img/icons/footer-icons/footer-mail-icon.png">
            </picture>
            <picture>
                <img src="/assets/img/icons/footer-icons/footer-in-icon.png">
            </picture>
        </div>
    </div>
</div>