.btn-live-test {
    position: relative;
    padding: 10px 20px;
    background: rgba(89, 136, 255, 1);
    border-radius: 10px;
    border: 2px solid rgba(89, 136, 255, 1);
    cursor: pointer;
    transition: 300ms all ease-in-out;
    overflow: hidden;

    span {
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        z-index: 3;
        color: white;
    }

    &:hover {
        padding: 15px 28px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            animation: button-2 100ms ease-in-out forwards;
            z-index: 2;

            &:hover {
                background-color: white;
            }
        }

        span {
            color: white;
        }
    }

    @keyframes button-2 {
        25% {
            width: 25%;
            clip-path: polygon(0 0, 0 0, 100% 0, 20% 100%, 0 100%);
            background: linear-gradient(0deg, #5988FF, #5988FF),
                linear-gradient(104.85deg, #5988FF 29.03%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);
        }

        50% {
            width: 75%;
            clip-path: polygon(0 0, 0 0, 100% 0, 30% 100%, 0 100%);
            background: linear-gradient(0deg, #5988FF, #5988FF),
                linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #5988FF 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);
        }

        100% {
            width: 100%;
            clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%);
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        }
    }

    @media (max-width: 1000px) {
        min-height: 60px;

        &:hover {
            padding: 0px 26px;
        }
    }

    @media (min-width: 1000px) {
        display: none;
    }
}