.btn {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(89, 136, 255, 1);
    cursor: pointer;
    transition: 300ms all ease-in-out;
    overflow: hidden;


    span {
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        z-index: 3;
        color: #5988FF;
    }



    &:hover {
        padding: 15px 28px;

        &:before {
            content: "";
            position: absolute;

            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            animation: animate-pseudo 100ms ease-in-out forwards;
            z-index: 2;
        }

        span {
            color: white;
        }
    }

    @keyframes animate-pseudo {

        25% {
            width: 25%;
            clip-path: polygon(0 0, 0 0, 100% 0, 20% 100%, 0 100%);
            background: linear-gradient(0deg, #5988FF, #5988FF),
                linear-gradient(104.85deg, #5988FF -90.22%, #5988FF -49.45%, #0043F0 27.88%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);

        }

        50% {
            width: 75%;
            clip-path: polygon(0 0, 0 0, 100% 0, 30% 100%, 0 100%);
            background: linear-gradient(0deg, #5988FF, #5988FF),
                linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #0043F0 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);

        }

        100% {
            width: 100%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
            ;
            clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}