.my-work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    min-height: 2200px;
    position: relative;
    top: 0px;
    left: 9%;
    right: 9%;
}