.project-detail {
    width: 50%;
    margin-left: 42px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Baloo';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        color: #5988FF;
        line-height: 80%;
    }

    @media (max-width: 1500px) {
        margin-left: 22px;
    }

    @media (max-width: 1000px) {
        margin-left: 0px;
        text-align: center;
        width: 100%;

    }
}