<div class="header">
    <div class="headline">
            <img class="profile" src="/assets/img/profil.png">
        <div class="profil-content">
            <h1>
                <p>
                    Hello! I am Thomas
                </p>
                FRONTEND<br>
                DEVELOPER
            </h1>
        </div>
    </div>
    <div class="all-icons">
        <picture>
            <img src="/assets/img/icons/git-hub-icon.png">
        </picture>
        <picture>
            <img src="/assets/img/icons/mail-icon.png">
        </picture>
        <picture>
            <img src="/assets/img/icons/in-icon.png">
        </picture>
    </div>
    <div class="scroll-div">
        <p>SCROLL</p>
        <img class="" src="/assets/img/stripe.png">
    </div>
</div>