<div class="project-content">
    <picture>
        <img src="/assets/img/projects/simple-crm.png">
    </picture>
    <div class="project-detail">
        <h2>
            Simple CRM
        </h2>
        <p class="tools">
            Angular | Firebase
        </p>
        <p class="description">
            A very Simple Customer Relationship Management system working with CRUD functionality.
        </p>
        <div class="all-buttons">
            <button class="btn-live-test">
                <span>
                    Live Test
                </span>
            </button>
            <button class="btn">
                <span>
                    Github
                </span>
            </button>
        </div>
    </div>
</div>