.open-img {
    width: 30px;
    height: 27.72px;
    position: absolute;
    top: 9%;
    right: 9%;
    z-index: 999;
    display: none;

    @media (max-width: 1100px) {
        display: flex;
    }
}

.d-none {
    display: none;
}