<app-menu-mobile></app-menu-mobile>
<div class="menu">
    <a href="#header">
        <img class="logo" src="/assets/img/logo.png">
    </a>
    <div class="menu-links">
        <a href="#about-me">About me</a>
        <a href="#skills-set">Skills set</a>
        <a href="#my-work">My work</a>
    </div>
</div>
<div class="imprint">
    <h1>
        Impressum
    </h1>

    <h2>
        Angaben gem&auml;&szlig; &sect; 5 TMG
    </h2>
    <p>
        Thomas Ketler<br />
        Hauptstra&szlig;e 71<br />
        56593 Pleckhausen
    </p>

    <h2>
        Kontakt
    </h2>
    <p>
        Telefon: 015128858361<br />
        E-Mail: thomas_ketler@web.de
    </p>

    <p>
        Quelle:
        <a href="https://www.e-recht24.de/impressum-generator.html">
            https://www.e-recht24.de/impressum-generator.html
        </a>
    </p>
</div>