.all-icons {
    min-height: 176px;
    position: absolute;
    bottom: 4%;
    right: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;

    img {
        height: 30px;
        width: 30px;
        position: relative;
        object-fit: contain;
        transition: 300ms all ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1) translate(-10px, 0px);
        }
    }

    @media (max-width: 1000px) {
        display: none;
    }
}