<div class="my-work">
    <div class="my-work-text">
        <h2>
            My work
        </h2>
        <p>
            This page is a sample of my work - please feel free to try them out.
        </p>
    </div>

    <app-pollo-loco>
    </app-pollo-loco>
    
    <app-join>
    </app-join>

    <app-simple-crm>
    </app-simple-crm>

    <app-pokedex>
    </app-pokedex>
    <img class="ball-1" src="/assets/img/Ellipse-9.png">
    <img class="ball-2" src="/assets/img/Ellipse-9.png">
    <img class="ball-3" src="/assets/img/Ellipse-9.png">
    <img class="ball-4" src="/assets/img/Ellipse-truncated.png">
    <img class="ball-5" src="/assets/img/Ellipse-9.png">
    <img class="ball-6" src="/assets/img/Ellipse-9.png">
    <img class="ball-7" src="/assets/img/Ellipse-9.png">
</div>