<div class="skills-set">
    <h2>
        Skills set
    </h2>
    <div class="all-skill-icons">
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Angular.png">
            <p>
                Angular
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Api.png">
            <p>
                Rest-Api
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Css.png">
            <p>
                CSS
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Firebase.png">
            <p>
                Firebase
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Frame.png">
            <p>
                Material<br>
                Design
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/git.png">
            <p>
                GIT
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/html.png">
            <p>
                HTML
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Javascript.png">
            <p>
                Java<br>
                Script
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/scrum.png">
            <p>
                Scrum
            </p>
        </div>
        <div class="skill-icon">
            <img src="/assets/img/icons/skill-icons/Typescript.png">
            <p>
                Type<br>
                Script
            </p>
        </div>
    </div>
</div>