<div class="project-content">
    <div class="project-detail">
        <h2>
            Join
        </h2>
        <p class="tools">
            JavaScript | HTML | CSS
        </p>
        <p class="description">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.
        </p>
        <div class="all-buttons">
            <button class="btn-live-test">
                <span>
                    Live Test
                </span>
            </button>
            <button class="btn">
                <span>
                    Github
                </span>
            </button>
        </div>
    </div>
    <picture>
        <img src="/assets/img/projects/join.png">
    </picture>
</div>