<div class="project-content">
    <picture>
        <img src="/assets/img/projects/pollo-loco.png">
    </picture>
    <div class="project-detail">
        <h2>
            Pollo Loco
        </h2>
        <p class="tools">
            JavaScript | HTML | CSS
        </p>
        <p class="description">
            Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
            fight
            against the crazy hen.
        </p>
        <div class="all-buttons">
            <button class="btn-live-test">
                <span>
                    Live Test
                </span>
            </button>
            <button class="btn-github">
                <span>
                    Github
                </span>
            </button>
        </div>
    </div>
</div>