body {
    margin: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Baloo";
    src: url("/assets/fonts/Baloo/Baloo-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}